[submodule "ASP-Core-Web-Api-Practice-1.Contracts"]
	path = ASP-Core-Web-Api-Practice-1.Contracts
	url = https://github.com/VladKzl/ASP-Core-Web-Api-Practice-1.Contracts
[submodule "ASP-Core-Web-Api-Practice-1.LoggerService"]
	path = ASP-Core-Web-Api-Practice-1.LoggerService
	url = https://github.com/VladKzl/ASP-Core-Web-Api-Practice-1.LoggerService
[submodule "ASP-Core-Web-Api-Practice-1.Repository"]
	path = ASP-Core-Web-Api-Practice-1.Repository
	url = https://github.com/VladKzl/ASP-Core-Web-Api-Practice-1.Repository.git
[submodule "ASP-Core-Web-Api-Practice-1.Entities"]
	path = ASP-Core-Web-Api-Practice-1.Entities
	url = https://github.com/VladKzl/ASP-Core-Web-Api-Practice-1.Entities.git
[submodule "ASP-Core-Web-Api-Practice-1.Service"]
	path = ASP-Core-Web-Api-Practice-1.Service
	url = https://github.com/VladKzl/ASP-Core-Web-Api-Practice-1.Service.git
[submodule "ASP-Core-Web-Api-Practice-1.Service.Contracts"]
	path = ASP-Core-Web-Api-Practice-1.Service.Contracts
	url = https://github.com/VladKzl/ASP-Core-Web-Api-Practice-1.Service.Contracts.git
[submodule "ASP-Core-Web-Api-Practice-1.Shared"]
	path = ASP-Core-Web-Api-Practice-1.Shared
	url = https://github.com/VladKzl/ASP-Core-Web-Api-Practice-1.Shared.git
