*.suo
*.user
Logs
Sql
bin
obj
packages
Profiles
internallog.txt
ASP-Core-Web-Api-Practice-1.Contracts/
ASP-Core-Web-Api-Practice-1.Repository/
ASP-Core-Web-Api-Practice-1.Service/
ASP-Core-Web-Api-Practice-1.Service.Contracts/
ASP-Core-Web-Api-Practice-1.LoggerService/
